<% layout('/layouts/boilerplate')%>
<link rel="stylesheet" href="/styles/rating.css">
 
<div class="row">
    <div class="col-6">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <% campsite.images.forEach((image, index) => { %>
                <div class="carousel-item <%= index === 0 ? 'active':'' %>">
                    <img src="<%= image.url%>" class="d-block w-100" alt="">
                </div>
                <% }) %> 
            </div>
            <% if(campsite.images.length > 1) {%>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <% } %> 
        </div>

        <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= campsite.title%></h5>
              <p class="card-text"><%= campsite.description%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= campsite.location%></li>
              <li class="list-group-item">€<%= campsite.price%>/night</li>
            </ul>
            <% if(loggedInUser && campsite.owner.equals(loggedInUser._id)) { %> 
            <div class="card-body">
                <a class="card-link btn btn-info" href="/campsites/<%=campsite._id%>/edit">Edit</a>
                <form class="d-inline" action="/campsites/<%=campsite._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %> 
        </div>
    </div>
    
    <div class="col-6">
        <div class="card mb-3">
            <div id='map' style='width: auto; height: 300px;'></div>
        </div>
            <% for (let review of campsite.reviews) { %>
                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2"> Rating by <%= review.owner.username%></h6>
                        <p class="starability-result" data-rating="<%=review.rating%>">
                            Rated: <%=review.rating%> stars
                        </p>
                        <p class="card-text">Review: <%= review.body %></p>
                        <% if(loggedInUser && review.owner.equals(loggedInUser._id)) { %> 
                        <form action="/campsites/<%=campsite._id %>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                        <% } %> 
                    </div>
                </div>
            <% }%>
        </div>
    </div>

    <div class="col-6">
        <% if(loggedInUser) {%> 
        <h5>Rate your stay</h5>
        <form action="/campsites/<%=campsite._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
                <fieldset class="starability-grow">      
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
            <div class="mb-3">
                <label class="form-label" for="body">Write your Review</label>
                <textarea class="form-control" name="review[body]" id="" cols="30" rows="3" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% } %> 

    </div>
</div>

<script>
    const mapToken = '<%-process.env.Mapbox_token%>';
    const campsite = <%- JSON.stringify(campsite) %>
</script>

<script src="/scripts/map.js"></script>